<!--<style>-->
<!--    .foot{-->
<!--        margin-top: 50px;-->
<!--        padding: 20px;-->
<!--    }-->
<!--    ul{-->
<!--        list-style: none;-->
<!--        padding: 5px;-->
<!--    }-->
<!--    .last{-->
<!--        background-color: black;-->
<!--        color: #95999c;-->
<!--        font-family: Arial;-->
<!--    }-->
<!--    ul li a{-->
<!--        text-decoration: none !important;-->
<!--        color: lightgray;-->
<!--        list-style: none;-->
<!--    }-->
<!--    ul li a:hover{-->
<!--        color: white;-->
<!--    }-->
<!--    .icons{-->
<!--        filter: brightness(65%);-->
<!--    }-->
<!--    .icons:hover{-->
<!--        transition: .2s;-->
<!--        filter: brightness(100%);-->
<!--    }-->
<!--    .icons a{-->
<!--        text-decoration: none;-->
<!--    }-->
<!--    .icns{-->
<!--        text-align: center;-->
<!--    }-->
<!--</style>-->
<!--<footer>-->
<!--<div class="container foot last">-->
<!--        <div class="row">-->
<!--            <span class="col-md-4 ">-->
<!--                 <ul class="first-div text-justify">-->
<!--                    <li><h3><b style="color: white">COMPANY</b></h3></li>-->
<!--                     <li><a href="#">About US</a></li>-->
<!--                     <li><a href="#">Impact Report</a></li>-->
<!--                     <li><a href="#">Why Host</a></li>-->
<!--                     <li><a href="#">Volunteer with us</a></li>-->
<!--                     <li><a href="#">Blog</a></li>-->
<!--                     <li><a href="#">Contact</a></li>-->
<!--                </ul>-->
<!--                </span>-->
<!--            </span>-->
<!--            <span class="col-md-4 ">-->
<!--                <ul class="second-div text-justify">-->
<!--                    <li><h3 style="color: white">Discover</h3></li>-->
<!--                    <li> <a href="#">Homestays</a></li>-->
<!--                    <li><a href="#">Experiences</a></li>-->
<!--                    <li><a href="#">Circuits</a></li>-->
<!--                    <li><a href="#">About us</a></li>-->
<!--                </ul>-->
<!--            </span>-->
<!--                <span class="col-md-4 ">-->
<!--                <ul class="third-div text-justify">-->
<!--                    <li><h3 style="color: white">CONNECT</h3></li>-->
<!--                    <li class="fa fa-map-marker"> Kamane-7, Hetauda <br> 44100</li><br>-->
<!--                    <li class="fa fa-phone"> +977-01-4455116 <br>-->
<!--                        9868828760 </li>-->
<!--                    <li>For further more details, please visit <br>-->
<!--                    <a href="#">info@nepstay.com</a></li>-->
<!--                </ul>-->
<!--            </span>-->
<!--            <div class="col-md-3 ">-->
<!--                <ul class="fourth-div text-justify">-->
<!--                    <li><h3 style="color: white">Contact us</h3></li>-->
<!--                    <span class="fab fa-facebook mr-4 icons" style="color: blue">  </span>-->
<!--                    <span class="fab fa-instagram mr-4 icons" style="color: pink">  </span>-->
<!--                    <span class="fab fa-youtube mr-4 icons" style="color: red">  </span>-->
<!--                    <span class="fab fa-twitter mr-4 icons" style="color: skyblue">  </span>-->
<!--                </ul>-->
<!--            </div>-->

<!--   </div>-->
<!--</div>-->
<!--</footer>-->