
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .btns{
      border: 1px solid;
      border-color: white;
      border-radius: 10px;
      padding: 2px;
      margin-left: 20px;
    }
  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="#">NEP STAY</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
                <li>
                  <p style="color: white; font-weight: normal"> <span class="fas fa-user" style="color: blue"></span> Hi {{ user.username }}!</p>
                </li>
                <li  class="nav-item btns">
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
              <li  class="nav-item btns">
                <a class="nav-link" href="{% url 'login' %}">Sign-in</a>
              </li>
              <li  class="nav-item btns">
                  <a class="nav-link" href="{% url 'signup' %}">Sign-up</a>
              </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>



</body>

</html>
